/* padding para evitar el solapamiento del menu lateral */
body {
    font-family: Roboto, sans-serif;;
}
h1, h2, h3, h4, h5 {
    font-family: 'ITC Officina RTVE';
}
#page.drawers {
    padding-left: 60px !important;
    padding-right: 0;
    height: 100% !important;
}

/* COURSE PAGE */
body.format-buttons {
    &:not(.editing) {
        li.activity {
            .activity-item {
                aspect-ratio: 5/2.75;
                border-radius: 10px;
                overflow: hidden;
                background-size: cover !important;
            }
        }
    }
    &.editing {
        li.activity {
            background: var(--primary);
            border-radius: 12px;
            padding: 0;
            * {
                color: #fff;
                font-weight: 600;
                text-transform: uppercase;
            }
            .activity-item {
                border-radius: 12px;
                &:hover {
                    color: var(--text-color) !important; 
                    .description {
                        background-color: var(--bg-color-secondary);       
                        border-bottom-left-radius: 12px;
                        border-bottom-right-radius: 12px;                 
                    }
                }
                .activityiconcontainer {
                    border-radius: 12px;
                }
                .action-menu {
                    a:not(.dropdown-toggle) i, span {
                        color: var(--primary);
                    }
                    a {
                        &:hover {
                            i, span {
                                color: #fff;
                            }
                        }
                    }
                }
                .description {
                    min-height: unset !important;
                }
            }
            div[data-region="completion-info"] {
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                padding: 5px;
                z-index: 1;
                text-align: right;
                .btn, span {
                    background-color: #fff;
                    color: var(--text-color) !important;
                    border-color: #fff;
                    opacity: .85;
                    font-size: .75rem;
                    padding: .25rem .5rem;
                    font-weight: 500;
                }                
            }
            .description .course-description-item:last-child .description-inner {
                padding: 1rem;
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
                background-color: var(--course-body-bg) ;
                * {
                    color: #000;
                }
            }
            &:hover {
                background: var(--primary) !important;
            }
        }
    }
}

body:not(#page-mod-assign-grader):not(#page-login-index):not(#page-login-signup):not(#page-h5p-embed):not(#page-login-forgot_password) {
    #page.drawers .main-inner, #region-main {
        background-color: var(--course-body-bg);
        padding-bottom: 2em;
    }
}
body:not(#page-site-index) {
    #page {
        #page-content {
            padding: 0 15px !important;
            .course-content {
                padding: 0 !important;
            }
        }
    }
}
/* elements */
a {
    color: var(--primary);
}
/* end elements */
/* forms */
.form-control {
    background-color: var(--input-bg);
    color: var(--input-color);
    font-family: Roboto, sans-serif;
    border: 0 none;
    border-radius: 5px;
    padding: 5px 15px;
    &:focus {
        background-color: var(--input-bg);
        border-color: var(--primary);
        box-shadow: 0 0 0 .2rem rgba(0, 0, 0, .5);
    }
}
/* end forms */
/* buttons */
.btn, .btn-outline {
    font-family: Roboto, sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 20px;
    border: 0 none;
    border-radius: .5rem;
    text-transform: uppercase;
    padding: .5rem 1.5rem;
}

.btn-outline {
    border: 2px solid var(--primary);
    margin: 7px 4px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: .5rem 1.5rem;
    text-align: center;
    white-space: normal !important;
    &:hover, &:active, &:focus {
        background: var(--default-gradient) !important;
        color: #fff !important;
        text-decoration: none;
    }
}
.btn-outline-secondary {
    border: 1px solid var(--border-color-secondary);
    color: var(--input-color);
    &:disabled {
        color: var(--input-color);
    }
    &:hover, &:active, &:focus {
        color: var(--input-color);
        background-color: var(--bg-color-secondary);
        border-color: var(--bg-color-secondary);
    }
}
.btn-primary {
    background: var(--default-gradient);
}

.btn-link {
    color: var(--primary);
    &:hover, &:active, &:focus {
        color: var(--primary);
    }
}
.input-group {
    > .input-group-append {
        .btn {
            padding: 5px 12px;
        }
    }
}
/* end buttons */
body#page-site-index {
    #region-main div[role="main"] {
        > .course-content .sitetopic,
        > #frontpage-course-list,
        > .buttons {
            max-width: 1200px;
            width: 90%;
            margin: 2em auto;
            .frontpage-course-list-enrolled {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
                grid-auto-rows: auto;
                grid-gap: 1rem;
            }
        }
    }
}
body#page-course-index-category, 
body#page-site-index {
    #region-main {
        background-color: var(--course-body-bg);
    }
    .coursebox {
        background: #fff !important;
        .coursename {
            top: 1em !important;
            a {
                color: #fff;
                max-height: unset !important;
            }
        }
        .content {
            .courseimage {
                background-image: var(--course-card-bg);
                border-radius: 0 !important;
                margin: 0 !important;
                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    max-width: 100%;
                    max-height: unset;
                }
                &:after {
                    border-radius: 0 !important;
                    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)) !important;
                }
            }
            ul.teachers {
                max-height: 185px;
                overflow-y: auto;
            }
            .summary,
            .customfields-container {
                padding: .5rem 0 0 !important;
                border-top: 1px solid #e2e2e2;
                .customfield_tool_courserating {
                    .customfieldname {
                        visibility: hidden;
                        position: relative;
                        &::after {
                            content: "Valoraciones";
                            visibility: visible;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                    .customfieldvalue:empty::before {
                        content: "Sin valoraciones";
                        color: gray;
                        font-style: italic;
                    }
                }
            }
        }
        .tool_courserating-stars {
            .icon {
                margin-right: 2px;
                font-size: 18px;
            }
        }
    }
    .paging.paging-morelink {
        grid-column: 1 / -1;
        width: 100%;
    }
}

.page-item {
    &.active {
        .page-link {
            background-color: var(--primary);
            border-color: var(--primary);
        }
    }
    .page-link {
        color: var(--primary);
    }
}

body.has-error {
    div#page-wrapper {
        nav.navbar.fixed-top.header-transparent {
            background: var(--header-bg) !important;
        }
    }
    div[data-rel="fatalerror"] {
        margin: 15em 5%;
    }
}
body#page-grade-report-grader-index {
    .gradeparent {
        max-height: 70vh;
        overflow: auto;
    }
}