.drawer.drawer-left.drawer-primary {
    z-index: 1050;
    position: fixed;
    background-color: #000;
    height: calc(100vh - 100px);
    top: 100px;
    .list-group .list-group-item {
        background-color: #000000;
        color: #ffffff;
    }
}