body:not(#page-mod-assign-grader):not(#page-login-index):not(#page-login-signup):not(#page-h5p-embed):not(#page-login-forgot_password) { /* HEADER TRANSPARENT */
  /* NAVIGATION ON TOP HEADER */
  /* END NAVIGATION ON TOP HEADER */
}
body:not(#page-mod-assign-grader):not(#page-login-index):not(#page-login-signup):not(#page-h5p-embed):not(#page-login-forgot_password) #page {
  margin-top: 0 !important;
}
body:not(#page-mod-assign-grader):not(#page-login-index):not(#page-login-signup):not(#page-h5p-embed):not(#page-login-forgot_password) #page #page-header {
  padding: 10em 0 6em !important;
  background-image: var(--header-img-bg) !important;
}
body:not(#page-mod-assign-grader):not(#page-login-index):not(#page-login-signup):not(#page-h5p-embed):not(#page-login-forgot_password) #page #page-header .page-header-headings {
  color: #fff;
}
body:not(#page-mod-assign-grader):not(#page-login-index):not(#page-login-signup):not(#page-h5p-embed):not(#page-login-forgot_password) #page #page-header .breadcrumb a {
  color: #fff !important;
}
body:not(#page-mod-assign-grader):not(#page-login-index):not(#page-login-signup):not(#page-h5p-embed):not(#page-login-forgot_password)#page-calendar-view #page-header {
  background-image: var(--header-img-bg-calendar) !important;
  height: auto !important;
}
body:not(#page-mod-assign-grader):not(#page-login-index):not(#page-login-signup):not(#page-h5p-embed):not(#page-login-forgot_password):not(#page-site-index) #page-header > div, body:not(#page-mod-assign-grader):not(#page-login-index):not(#page-login-signup):not(#page-h5p-embed):not(#page-login-forgot_password):not(#page-site-index) #page-content, body:not(#page-mod-assign-grader):not(#page-login-index):not(#page-login-signup):not(#page-h5p-embed):not(#page-login-forgot_password):not(#page-site-index) .secondary-navigation {
  width: 93% !important;
  max-width: 1600px;
  margin: auto !important;
  /* overflow-x: auto; */
}
body:not(#page-mod-assign-grader):not(#page-login-index):not(#page-login-signup):not(#page-h5p-embed):not(#page-login-forgot_password):not(#page-site-index)#page-calendar-view #page-content {
  margin: -5em auto 0 !important;
}
body:not(#page-mod-assign-grader):not(#page-login-index):not(#page-login-signup):not(#page-h5p-embed):not(#page-login-forgot_password):not(#page-site-index)#page-calendar-view #page-content {
  border-radius: 12px !important;
}
body:not(#page-mod-assign-grader):not(#page-login-index):not(#page-login-signup):not(#page-h5p-embed):not(#page-login-forgot_password):not(#page-site-index) #page-content, body:not(#page-mod-assign-grader):not(#page-login-index):not(#page-login-signup):not(#page-h5p-embed):not(#page-login-forgot_password):not(#page-site-index) .secondary-navigation {
  background: #fff !important;
}
body:not(#page-mod-assign-grader):not(#page-login-index):not(#page-login-signup):not(#page-h5p-embed):not(#page-login-forgot_password):not(#page-site-index) #page-content #region-main, body:not(#page-mod-assign-grader):not(#page-login-index):not(#page-login-signup):not(#page-h5p-embed):not(#page-login-forgot_password):not(#page-site-index) .secondary-navigation #region-main {
  background: #fff !important;
}
body:not(#page-mod-assign-grader):not(#page-login-index):not(#page-login-signup):not(#page-h5p-embed):not(#page-login-forgot_password):not(#page-site-index) .secondary-navigation {
  margin-top: -5em !important;
  border-radius: 12px 12px 0 0;
  padding: 15px;
  z-index: 10;
  position: relative;
}
body:not(#page-mod-assign-grader):not(#page-login-index):not(#page-login-signup):not(#page-h5p-embed):not(#page-login-forgot_password):not(#page-site-index) #page-content {
  border-radius: 0 0 12px 12px;
}

.add-rating-link:hover, .add-rating-link:focus, .add-rating-link:active {
  color: var(--primary);
}/*# sourceMappingURL=header.css.map */