body:not(#page-site-index):not(#page-my-index):not(#page-calendar-view):not(#page-course-view-tiles){
    /* HEADER TRANSPARENT */
    #page {
        margin-top: 0 !important;
        #page-header {
            padding: 10em 0 6em !important;
            background-image: var(--header-img-bg) !important;
            .page-header-headings {
                color: #fff;
            }
        }
    }

    /* NAVIGATION ON TOP HEADER */
    #page-content, .secondary-navigation {
        width: 93% !important;
        max-width: 1600px;
        margin: auto !important;
        padding: 10em 0 6em !important;
        background: #fff !important;
        #region-main {
            background: #fff !important;
        }
    }
    #header > div {
        width: 93% !important;
        max-width: 1600px;
        margin: auto;
    }
    .secondary-navigation {
        margin-top: -5em !important;
        border-radius: 12px 12px 0 0;
        padding: 1rem 1.5rem;
        z-index: 10;
        position: relative;
    }
    #page-content {
        border-radius: 0 0 12px 12px;
    }
    /* END NAVIGATION ON TOP HEADER */
}