body:not(#page-site-index):not(#page-my-index):not(#page-calendar-view):not(#page-course-view-tiles){
    #page-header {
        padding: 10em 0 6em !important;
        background-image: var(--header-img-bg) !important;
        .page-header-headings {
            color: #fff;
        }
    }

    /* NAVIGATION ON TOP HEADER */
    #page-content, .secondary-navigation {
        width: 93% !important;
        max-width: 1600px;
        margin: auto !important;
        padding: 10em 0 6em !important;
        background: #fff !important;
        #region-main {
            background: #fff !important;
        }
    }
    > div {
        width: 93% !important;
        max-width: 1600px;
        margin: auto;
    }
    .secondary-navigation {
        margin-top: -5em !important;
        border-radius: 12px 12px 0 0;
        padding: 1rem 1.5rem;
        z-index: 10;
        position: relative;
    }
    #page-content {
        border-radius: 0 0 12px 12px;
    }
    /* END NAVIGATION ON TOP HEADER */

    .secondary-navigation {
        .navigation {
            padding-top: 1em !important;
            @media (min-width: 768px) {
                padding: 0 calc(0.5rem + 5px);
            }
            .nav-tabs {
                border: none !important;
                li.nav-item {
                    .nav-link {
                        height: 50px;
                        border-radius: 6px;
                        font-size: 20px;
                        font-weight: bold;
                        margin: 0;
                        padding: 20px;
                        &.active, &:hover, &:focus {
                            border: 2px solid var(--primary) !important;
                            background-color: #f8f9fa !important;
                        }
                    }
                }
            }
        }
    }
}