body:not(#page-mod-assign-grader):not(#page-login-index):not(#page-login-signup):not(#page-h5p-embed):not(#page-login-forgot_password) {    /* HEADER TRANSPARENT */
    #page {
        margin-top: 0 !important;
        #page-header {
            padding: 10em 0 6em !important;
            background-image: var(--header-img-bg) !important;
            .page-header-headings {
                color: #fff;
            }
        }
    }

    /* NAVIGATION ON TOP HEADER */
    #page-header > div, #page-content, .secondary-navigation {
        width: 93% !important;
        max-width: 1600px;
        margin: auto !important;
    }
    #page-content, .secondary-navigation {
        padding: 10em 0 6em !important;
        background: #fff !important;
        #region-main {
            background: #fff !important;
        }
    }
    .secondary-navigation {
        margin-top: -5em !important;
        border-radius: 12px 12px 0 0;
        padding: 1rem 1.5rem;
        z-index: 10;
        position: relative;
    }
    #page-content {
        border-radius: 0 0 12px 12px;
    }
    /* END NAVIGATION ON TOP HEADER */
}