div#page-wrapper nav.navbar.fixed-top {
    background: var(--header-bg) !important;
    &.header-transparent {
        background: transparent !important;
        transition: background 0.3s ease-in-out;
    }
    .primary-navigation .navigation {
        height: 100px;
        li.nav-item {
            padding: 20px;
            a {
                color: #fff;
            }        
        }
    }
    .navbar-nav {
        .editmode-switch-form,
        .nav-link, 
        .usermenu {
            color: #fff;
            a.dropdown-toggle, .login, .login a {
                color: #fff;
            }
        }
    }
}

@media (min-width: 992px) {
    .drawer.drawer-right {
      top: 0;
      padding-top: 100px;
      height: calc(100vh);
    }
    #page.drawers.show-drawer-right {
        padding-right: 0;
    }
}
.drawer.drawer-left {
    .drawercontent {
        // Firefox
        scrollbar-width: thin;
        scrollbar-color: #ccc #000;
      
        // WebKit browsers (Chrome, Edge, etc.)
        &::-webkit-scrollbar {
            width: 8px;
        }
      
        &::-webkit-scrollbar-track {
            background: #000;
        }
      
        &::-webkit-scrollbar-thumb {
            background-color: #ccc;
            border-radius: 4px;
        
            &:hover {
                background-color: #aaa;
            }
        }
    }
}